extends layout

append body    
    script(src='/javascripts/btcblockchaininfocontroller.js')
    .container(ng-app='LnPiCliApp')
        h1= title
        .row
            .col-md-12
        .row
            .col-md-3
                span test
            .col-md-5(ng-controller='BtcPeerListController')
                +panel-info("Peers")
                  |                   
                  .row
                    .col-md-12
                        .row.hidden-xs.hidden-sm
                            .col-md-4
                                strong Address
                            .col-md-3
                                strong Version
                            .col-md-3.hidden-xs.hidden-sm
                                strong Is Relay
                            //-.col-md-2
                            //-    span &nbsp;
                        .row(ng-repeat='peer in peer_list')
                            .col-md-4
                                label.hidden-md.hidden-lg Address
                                span {{peer.addr}}
                            .col-md-3
                                label.hidden-md.hidden-lg Version
                                span {{peer.subver}}
                            .col-md-2.hidden-xs.hidden-sm
                                span {{peer.relaytxes}}
                            .col-md-2
                                a(href='/peer/{{peer.id}}') Details
            .col-md-4(ng-controller='BtcBlockchainInfoController')
                +panel-info("Blockchain Info")
                  | 
                  .row
                    .col-md-2
                        strong Chain
                    .col-md-10
                        span {{chain}}
                  .row
                    .col-md-2
                        strong Headers
                    .col-md-4
                        span.badge {{headers}}
                    .col-md-2
                        strong Blocks
                    .col-md-4
                        span.badge {{blocks}}
                  .row
                    .col-md-2
                        strong Bytes
                    .col-md-8
                        span.badge {{size_on_disk}}
        .row
            .col-md-12
                span footer        
